.membershipGrid {
    background-color: #f8f9fb;
}

.gridHeader {
    margin-bottom: 2.5rem;
    text-align: center;
}

.gridHeader h1 {
    margin-bottom: 0.5rem;
}

.gridHeader p {
    font-weight: 500;
    opacity: 0.7;
    margin: 0;
}

.cardContainer {
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: repeat(2, 300px);
    row-gap: 0.75rem;
    column-gap: 0.75rem;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    justify-content: center;
}
