.card {
    position: relative;
    background: #f0f3f8;
    border-radius: 1.5rem;
    overflow: hidden;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    aspect-ratio: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
}

.cardBackground {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    background-position: center;
    filter: blur(2px);
    transform: scale(1.1);
}

.imageOverlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, transparent 0%, rgba(255, 255, 255, 0.80) 100%);
}


.content {
    position: relative;
    margin-top: auto;
    padding: 1.5rem;
    z-index: 1;
}

.title {
    font-size: 2rem;
    font-weight: 700;
    color: black;
    margin-bottom: 1rem;
    line-height: 1.3;
    text-align: start;
}
