:root {
  --background: #f8f9fb;
  --foreground: #000000;
}


html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-top: 100px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}

ul{
  list-style: none;
  margin-top: 5px;
}

li{
  padding: 5px 0;
}

h1 {
  font-weight: 700;
  font-size: 2.5rem;
  color: #1e293b;
}

h2 {
  font-size: 2rem;
  font-weight: 700;
  color: #1e293b;
  margin: 0 0 0.5rem 0;
}

p{
  font-weight: 500;
  font-size: 1.25rem;
  color: #64748b;
  margin: 0;
  line-height: 1.6;
}

footer {
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  background: var(--foreground);
  color: var(--background);
  align-items: center;
  justify-content: center;
}

footer p {
  padding: 2rem 4rem;
  text-align: center;
  color: #f8f9fb;
}

hr{
  width: 50%;
  margin: 0 auto;
  border: 1px solid var(--background);
}

section{
  padding: 50px;
  gap: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}