.missionGrid {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 4rem 3rem;
    background-color: #f8f9fb;
    justify-content: center;
}

.gridHeader {
    margin-bottom: 2.5rem;
    text-align: center;
}


.gridHeader p {
    font-weight: 500;
    opacity: 0.9;
    margin: 0;
}

.cardContainer {
    display: flex;
    flex-direction: column;
    gap: 0;
    max-width: 500px;
    margin: 0 auto;
    width: 100%;
}

